
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    
    --cor0: #40fd84;
    --cor1: #69e048;
    --cor2: #43f756;

}
.carousel-inner img {
  width: 100%;
  height: auto;
}
h2 {
        font-size: 30px; 
        font-weight: bold;
}

p {
            font-size: 30px; 
            font-weight: bold;
        }

#carouselExample {
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    background-color: var(--cor1);
    height: 70px;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
   
}

.collapse{
    background-color: var(--cor1);
}

  .nav-link {
    color: white !important; 
  }

  .nav-link:hover {
    color: black !important; 
  }

  .navbar-toggler-icon {
    background-color: white !important; 
  }

  .btn-outline-success {
    background-color: green !important;
    border-color: green !important;
    color: white !important;
  }

  .btn-outline-success:hover {
    background-color: var(--cor1)!important;
    border-color: var(--cor1)!important;
    color: black !important;
  }
  .card {
    margin: 40px; 
    border: 3px solid #74d612;
}

.card img {
    width: 100%; 
    height: auto; 
}


.card-body {
    text-align: center;
}
  
.card {
            width: 15rem;
            display: inline-block;
            margin-right: 40px;
            margin-right: 5.5px;
        }
article{
    font-family:  lora;
}
        h1{
            text-align: center ;
            padding-top: 50px;

        }
        h3{
            text-align: center ;

        }
footer{
    background-color: var(--cor1);
}

.text-box {
  color: #fff;
  background-color: #69e048be;
  padding: 5%;
  border-radius: 5px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
}


.formulario-container {
  margin: 0 auto;
  text-align: left;
}


.Caixa {
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

.Caixa label {
  display: block;
  margin-bottom: 5px;
}

.Caixa input,
.Caixa input:not([type="submit"]),
.Caixa textarea {
  margin-bottom: 10px;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  background-image: url(Plano\ de\ fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
 
}

.content-box {
  background-color: #f7f7f7;
  padding: 20px;
}

header {
  background-color: #69e048;
}

header .navbar {
  padding: 1rem 0;
}


header .navbar-nav {
  list-style: none;
}

header .nav-item {
  display: inline-block;
  margin-right: 20px;
}

header .nav-link {
  color: white;
  text-decoration: none;
}

header .form-control {
  width: 200px;
}

header .btn {
  background-color: #69e048;
  border: 1px solid white;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 70px;
  text-align: center;
}
aside h1 {
  font-size: 24px;
  color: #000;
}

p {
  line-height: 1.5;
  font-size: 16px;
}
